.DS_Store
.*.sw*
.#*
*.css.map
*.egg
*.egg-info/
*.js.map
*.log
*.manifest
*.pot
taiga/search
settings/local.py
settings/celery_local.py
database.sqlite
logs
media
static
*.pyc
*.mo
.venv
.coverage
.cache
.\#*
.project
.env
.idea
/venv*
__pycache__/
bin/
include/
lib/
.Python
pip-selfcheck.json

settings/__pycache__/
taiga/__pycache__/
taiga/auth/__pycache__/
taiga/base/__pycache__/
taiga/base/api/__pycache__/
taiga/base/api/utils/__pycache__/
taiga/base/db/__pycache__/
taiga/base/db/models/__pycache__/
taiga/base/db/models/fields/__pycache__/
taiga/base/formats/__pycache__/
taiga/base/management/__pycache__/
taiga/base/middleware/__pycache__/
taiga/base/signals/__pycache__/
taiga/base/utils/__pycache__/
taiga/events/__pycache__/
taiga/events/backends/__pycache__/
taiga/events/management/__pycache__/
taiga/export_import/__pycache__/
taiga/export_import/management/__pycache__/
taiga/export_import/serializers/__pycache__/
taiga/export_import/services/__pycache__/
taiga/export_import/validators/__pycache__/
taiga/external_apps/__pycache__/
taiga/external_apps/management/__pycache__/
taiga/external_apps/migrations/__pycache__/
taiga/feedback/__pycache__/
taiga/feedback/migrations/__pycache__/
taiga/front/__pycache__/
taiga/front/templatetags/__pycache__/
taiga/hooks/__pycache__/
taiga/hooks/bitbucket/__pycache__/
taiga/hooks/bitbucket/migrations/__pycache__/
taiga/hooks/github/__pycache__/
taiga/hooks/github/migrations/__pycache__/
taiga/hooks/gitlab/__pycache__/
taiga/hooks/gitlab/migrations/__pycache__/
taiga/hooks/gogs/__pycache__/
taiga/hooks/gogs/migrations/__pycache__/
taiga/importers/__pycache__/
taiga/importers/management/__pycache__/
taiga/locale/__pycache__/
taiga/mdrender/__pycache__/
taiga/mdrender/extensions/__pycache__/
taiga/mdrender/templatetags/__pycache__/
taiga/permissions/__pycache__/
taiga/projects/__pycache__/
taiga/projects/attachments/__pycache__/
taiga/projects/attachments/migrations/__pycache__/
taiga/projects/contact/__pycache__/
taiga/projects/contact/migrations/__pycache__/
taiga/projects/custom_attributes/__pycache__/
taiga/projects/custom_attributes/migrations/__pycache__/
taiga/projects/epics/__pycache__/
taiga/projects/epics/migrations/__pycache__/
taiga/projects/history/__pycache__/
taiga/projects/history/migrations/__pycache__/
taiga/projects/history/templatetags/__pycache__/
taiga/projects/issues/__pycache__/
taiga/projects/issues/migrations/__pycache__/
taiga/projects/likes/__pycache__/
taiga/projects/likes/migrations/__pycache__/
taiga/projects/likes/mixins/__pycache__/
taiga/projects/management/__pycache__/
taiga/projects/management/commands/__pycache__/
taiga/projects/migrations/__pycache__/
taiga/projects/milestones/__pycache__/
taiga/projects/milestones/migrations/__pycache__/
taiga/projects/mixins/__pycache__/
taiga/projects/notifications/__pycache__/
taiga/projects/notifications/migrations/__pycache__/
taiga/projects/occ/__pycache__/
taiga/projects/references/__pycache__/
taiga/projects/references/migrations/__pycache__/
taiga/projects/services/__pycache__/
taiga/projects/tagging/__pycache__/
taiga/projects/tasks/__pycache__/
taiga/projects/tasks/migrations/__pycache__/
taiga/projects/userstories/__pycache__/
taiga/projects/userstories/migrations/__pycache__/
taiga/projects/votes/__pycache__/
taiga/projects/votes/migrations/__pycache__/
taiga/projects/votes/mixins/__pycache__/
taiga/projects/wiki/__pycache__/
taiga/projects/wiki/migrations/__pycache__/
taiga/searches/__pycache__/
taiga/stats/__pycache__/
taiga/timeline/__pycache__/
taiga/timeline/management/__pycache__/
taiga/timeline/migrations/__pycache__/
taiga/users/__pycache__/
taiga/users/migrations/__pycache__/
taiga/userstorage/__pycache__/
taiga/userstorage/migrations/__pycache__/
taiga/webhooks/__pycache__/
taiga/webhooks/migrations/__pycache__/
