.DS_Store
.*.sw*
.#*
*.css.map
*.egg
*.egg-info/
*.js.map
*.log
*.manifest
*.pot
taiga/search
settings/local.py
settings/celery_local.py
database.sqlite
logs
media
static
*.pyc
*.mo
.venv
.coverage
.cache
.\#*
.project
.env
.idea
/venv*
__pycache__/
bin/
include/
lib/
.Python
pip-selfcheck.json


